<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GStore - 探索</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_explore.css') }}">
</head>
<body>
<div class="placeholder">
    {% include 'nav.html' %}
</div>


<div class="explore">

    <div id="explore_detail">
        {% if search_term != "" %} “{{search_term}}”的搜索结果 {% endif %}
        {% if search_tags != "" %} 已应用 {{ search_tags.split(" ")|length }} 个标签 {% endif %}
        已找到 {{ games|length }} 个结果
    </div>

    <div class="horizontal_box">

        <div class="game-container">
            {% for game in games %}
            <div class="game-item" onclick="goToUrl('/game/{{ game.id }}')">
                <img class="game_cover_img" src="{{ url_for('static', filename='images/GenshinImpact_FM.png') }}"/>
                <p>{{ game.name }}</p>
                <!--<p>Release Date: {{ game.release_date }}</p>-->
<!--                <p>{% if game.is_discounted %}<del>${{ game.price }}</del> ${{ game.discount_price }}{% else %}${{ game.price }}{% endif %}</p>-->
                <p>
                    {% if game.is_discounted %}
                        {% set discount_percent = ((game.price - game.discount_price) / game.price) * 100 %}
                        <a class="discount_box">-{{ discount_percent|round(2) }}%</a>
                        <del>${{ game.price }}</del>
                        ${{ game.discount_price }}
                    {% else %}
                        ${{ game.price }}
                    {% endif %}
                </p>
                <!--<p>Tags: {{ game.tags }}</p>-->
                <!--<a class="purchase_a" href="/game/{{ game.id }}">Purchase</a>-->
            </div>
            {% endfor %}
        </div>

        <div class="filter">
            <h2>筛选</h2>
            <hr>
            <input type="text" name="search" placeholder="搜索游戏">
                {% for tag in tags %}
                    <label>
                        <input type="checkbox" name="tags" class="tagCheckbox" value="{{ tag }}">
                        {{ tag }}
                    </label>
                {% endfor %}
            <hr>
            <button onclick="buildRequest()">筛选</button>
        </div>

    </div>
</div>


{% include 'footer.html' %}
</body>
</html>
<script type="text/javascript">
    function goToUrl(url) {
        window.location.href = url;
    }
    function login_button_onclick() {
        window.location.href = "{{ url_for('login') }}";
    }
    // 滚动到足够底部导航栏脱离
    document.addEventListener("DOMContentLoaded", function () {
        window.addEventListener("scroll", function () {
            var topNavbar = document.getElementById("nav");

            if (window.scrollY > 100) {
                topNavbar.classList.add("fixed");

            } else {
                topNavbar.classList.remove("fixed");
            }
        });
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // 获取搜索标签变量
        var searchTags = "{{ search_tags }}";
        var search_term = "{{ search_term }}";

        // 分割搜索标签变量
        var searchTagsArray = searchTags.split(' ');
        var search_term_input = document.querySelector('input[name="search"]');

        search_term_input.value = search_term

        search_term_input.addEventListener("keyup", function(event) {
            // 检查按下的键是否是回车键
            if (event.key === "Enter") {
                // 执行您的函数
                buildRequest();
            }
        });

        // 遍历所有复选框
        var checkboxes = document.querySelectorAll('.tagCheckbox');
        checkboxes.forEach(function(checkbox) {
            // 检查复选框的值是否在搜索标签数组中
            if (searchTagsArray.includes(checkbox.value)) {
                checkbox.checked = true; // 如果是，则勾选复选框
            }
        });
    });

    function buildRequest() {
        var selectedTags = [];
        var search_term_input = document.querySelector('input[name="search"]');
        var searchQueryParam = encodeURIComponent(search_term_input.value);
        var checkboxes = document.getElementsByClassName("tagCheckbox");
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                selectedTags.push(encodeURIComponent(checkboxes[i].value));
            }
        }
        var tagsQueryParam = selectedTags.join('%20');
        window.location.href = "http://127.0.0.1:2333/explore?search=" + searchQueryParam + "&tags=" + tagsQueryParam;
    }
</script>