<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GStore - Explore</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_explore.css') }}">
</head>
<body>
<div class="placeholder">
    <div id="nav">
        <div id="nav_logo">GStore</div>
        <div class="nav_links">
            <div class="nav_link_div"><a class="nav_link_a" href="/">Home</a></div>
            <div class="nav_link_div"><a class="nav_link_a" href="/explore">Explore</a></div>
<!--            <div class="nav_link_div"><a class="nav_link_a" href="#">Link3</a></div>-->
        </div>
        {% if current_user.is_authenticated %}
        <div class="user_panel" onclick="function user_panel_popup() {
                    user_panel_popup = document.getElementById('user_panel_popup');
                    if (user_panel_popup.style.visibility === 'hidden')
                        user_panel_popup.style.visibility = 'visible';
                    else
                        user_panel_popup.style.visibility = 'hidden';
                }
                user_panel_popup()">
            {{ current_user.username }}
            <div id="user_panel_popup" class="user_panel_popup">
                <ul>
                    <li class="user_panel_popup_line" onclick="goToUrl('')">Profile</li>
                    <li class="user_panel_popup_line" onclick="goToUrl('{{ url_for('logout') }}')">Logout</li>
                </ul>
            </div>
        </div>
        {% else %}
        <button class="nav_login_button" onclick="login_button_onclick()">Login</button>
        {% endif %}
    </div>
</div>

<div class="game-container">

    {% for game in games %}
    <div class="game-item" onclick="goToUrl('/game/{{ game.id }}')">
        <img class="game_cover_img" src="{{ url_for('static', filename='images/GenshinImpact_FM.png') }}"/>
        <p>{{ game.name }}</p>
<!--        <p>Release Date: {{ game.release_date }}</p>-->
        <p>{% if game.is_discounted %}<del>${{ game.price }}</del> ${{ game.discount_price }}{% else %}${{ game.price }}{% endif %}</p>
<!--        <p>Tags: {{ game.tags }}</p>-->
<!--        <a class="purchase_a" href="/game/{{ game.id }}">Purchase</a>-->
    </div>
    {% endfor %}

</div>
<footer>
    © 2023 GoBlock2021. All rights reserved. Unauthorized reproduction or distribution is prohibited.
</footer>
</body>
</html>
<script type="text/javascript">
    function goToUrl(url) {
        window.location.href = url;
    }
    function login_button_onclick() {
        window.location.href = "{{ url_for('login') }}";
    }
    // 滚动到足够底部导航栏脱离
    document.addEventListener("DOMContentLoaded", function () {
        window.addEventListener("scroll", function () {
            var topNavbar = document.getElementById("nav");

            if (window.scrollY > 100) {
                topNavbar.classList.add("fixed");

            } else {
                topNavbar.classList.remove("fixed");
            }
        });
    });
</script>